// Case Study Component 
// Should Be Re-used For any additional case studies 
// Portfolio-grid Parent Container sets the number of columns displayed and scales depending on the screen size
.portfolio-grid {
  grid-template-columns: auto auto auto;

  @media (max-width: 1024px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }
}

.case-study {
  display: grid;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  background: rgba(255,255,255,0.85);
  border-radius: 0.25em;

  &::after {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    background: rgba(255,255,255,0.85);
    border-radius: 0.25em;
    content: '';
  }

  .case-study-title {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    color: #b48505;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    z-index: 100;

    // On mobile devices project titles are are always visible and plaed above the image
    @media (max-width: 1024px) {
      position: absolute;
      opacity: 1;
      transition: 0.5s;
      color: #b48505;
      font-weight: bold;
      width: 100%;
      text-align: center;
      padding-top: 0;
      z-index: 100;
      margin-top: -1.5em;
    }
    @media (max-width: 640px) {
      font-size: 1.5em;
    }
  }

  &:hover {
    transition: 0.5s;
    transform: scale(1.0125);

    &::after {
      opacity: 1;
    }

    .case-study-title {
      opacity: 1;
    }
  }
}