@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html {
  font-size: 16px;
  line-height: 23px; }
  @media (max-width: 1024px) {
    html {
      font-size: 15px; } }
  @media (max-width: 640px) {
    html {
      font-size: 14px; } }
  @media (max-width: 480px) {
    html {
      font-size: 13px; } }

p {
  font-size: 18px; }
  @media (max-width: 1024px) {
    p {
      font-size: 16px; } }
  @media (max-width: 640px) {
    p {
      font-size: 14px; } }
  @media (max-width: 480px) {
    p {
      font-size: 12px; } }

h1, h2, h3 {
  line-height: 48px; }

h4, h5, h6 {
  line-height: 28px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive; }

h1 {
  font-size: 3em;
  padding: 0.5em 0.25em 0.75em; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 2.7em; } }
  @media (max-width: 640px) {
    h1 {
      font-size: 2.25em; } }

h2 {
  font-size: 2.6em;
  padding: 0.5em 0.25em; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 2.34em; } }
  @media (max-width: 640px) {
    h2 {
      font-size: 1.95em; } }

h3 {
  font-size: 2.2em;
  padding: 0.5em 0.25em; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 1.98em; } }
  @media (max-width: 640px) {
    h3 {
      font-size: 1.65em; } }

h4 {
  font-size: 1.8em;
  padding: 0.5em 0.25em; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 1.62em; } }
  @media (max-width: 640px) {
    h4 {
      font-size: 1.35em; } }
  @media (max-width: 480px) {
    h4 {
      font-size: 1.26em; } }

h5 {
  font-size: 1.2em;
  padding: 0.25em; }
  @media (max-width: 1024px) {
    h5 {
      font-size: 1.08em; } }

h6 {
  font-size: 1em;
  padding: 0.125em; }

.grid {
  display: grid; }

.column-gap-1 {
  grid-column-gap: 1em; }

.row-gap-1 {
  grid-row-gap: 1em; }

.flex {
  display: flex; }
  .flex.wrap {
    flex-wrap: wrap; }

.column {
  flex-direction: column; }

.space-start {
  justify-content: start; }

.space-around {
  justify-content: space-around; }

.justify-center {
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-self-center {
  align-self: center; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.cursive {
  font-family: cursive; }

.c-black {
  color: #000; }

.c-white {
  color: #fff; }

.c-green {
  color: #00ab3e; }

.c-success,
.c-green-juicy {
  color: #549500; }

.c-red {
  color: #d34836; }

.c-orange {
  color: #d2691e; }

.bold {
  font-weight: 700; }

.p-25 {
  padding: 0.25em; }

.p-1 {
  padding: 1em; }

.pt-1 {
  padding-top: 1em; }

.pb-1 {
  padding-bottom: 1em; }

.pr-1 {
  padding-right: 1em; }

.pl-1 {
  padding-left: 1em; }

.px-1 {
  padding-left: 1em;
  padding-right: 1em; }

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.m-auto {
  margin: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.m-1 {
  margin: 1em; }

.mt-1 {
  margin-top: 1em; }

.mb-1 {
  margin-bottom: 1em; }

.mr-1 {
  margin-right: 1em; }

.ml-1 {
  margin-left: 1em; }

.mx-1 {
  margin-left: 1em;
  margin-right: 1em; }

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.m-2 {
  margin: 2em; }

.mt-2 {
  margin-top: 2em; }

.mb-2 {
  margin-bottom: 2em; }

.mr-2 {
  margin-right: 2em; }

.ml-2 {
  margin-left: 2em; }

.mx-2 {
  margin-left: 2em;
  margin-right: 2em; }

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.round-025 {
  border-radius: .25em; }

.round-1 {
  border-radius: 1em; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.h-75 {
  height: 75%; }

.w-75 {
  width: 75%; }

.h-50 {
  height: 50%; }

.w-50 {
  width: 50%; }

.mh-100 {
  max-height: 100%; }

.mw-100 {
  max-width: 100%; }

.hidden {
  display: none; }

.portfolio-grid {
  grid-template-columns: auto auto auto; }
  @media (max-width: 1024px) {
    .portfolio-grid {
      grid-template-columns: auto auto; } }
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: auto; } }

.case-study {
  display: grid;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.25em; }
  .case-study::after {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 0.25em;
    content: ''; }
  .case-study .case-study-title {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    color: #b48505;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    z-index: 100; }
    @media (max-width: 640px) {
      .case-study .case-study-title {
        font-size: 1.5em; } }
  .case-study:hover {
    transition: 0.5s;
    transform: scale(1.0125); }
    .case-study:hover::after {
      opacity: 1; }
    .case-study:hover .case-study-title {
      opacity: 1; }

.button {
  padding: 0.25em 0.75em 0.125em; }
  .button.round {
    border-radius: 0.5em; }
  .button.success {
    background: #198b56; }
    .button.success:hover {
      background: #0d4a2e; }
  .button.orange {
    background: #f1a503; }
    .button.orange:hover {
      background: #fdc244; }
  .button h1, .button h2, .button h3, .button h4, .button h5, .button h6 {
    line-height: 23px; }
  @media (max-width: 640px) {
    .button {
      padding-bottom: 0; } }

.check-list {
  text-align: left;
  font-size: 1.25em; }
  .check-list li {
    margin-bottom: 0.5em; }
  .check-list li:before {
    content: '✓';
    padding: 0.5em;
    color: #198b56; }

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  font-family: 'Comfortaa', cursive;
  background: #252322;
  transition: all 0.75s;
  position: relative; }
  @media (max-width: 640px) {
    header {
      padding: 0.5em 1em; } }
  header.open {
    margin-top: 3.5em; }
  header a {
    padding-right: 1em;
    text-decoration: none;
    color: #fff;
    transition: 0.5s; }
    header a:hover {
      transform: scale(1.125);
      transition: 0.5s; }

nav {
  display: flex; }
  @media (max-width: 640px) {
    nav {
      position: absolute;
      transition: all 0.75s;
      width: 100%;
      justify-content: center;
      left: 0;
      top: -3em; } }

.nav-trigger {
  display: none;
  max-width: 2em;
  cursor: pointer; }
  .nav-trigger img {
    width: 100%;
    height: 100%;
    transition: 0.5s; }
    .nav-trigger img.close {
      transform: rotate(180deg);
      transition: 0.5s; }
  @media (max-width: 640px) {
    .nav-trigger {
      display: flex; } }

footer {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em 0; }

html {
  height: 100%; }

body {
  background: #252322;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0 1em; }
  @media (max-width: 1024px) {
    .main {
      max-width: 1024px; } }
  @media (max-width: 480px) {
    .main {
      padding: 0 0.5em; } }

.desktop-svg {
  margin: 2em 0;
  max-width: 18em; }

.resume {
  margin: 4em 0.5em 2em 0.5em;
  max-width: 1024px; }

.headshot {
  max-width: 10em;
  border-radius: 50%; }

.highlight {
  color: #e2610a; }
