@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-size: 16px;
  line-height: 23px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.025em;
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

p {
  font-size: 22px;
}

@media (max-width: 1024px) {
  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 48px;
}

h4, h5, h6 {
  line-height: 28px;
}

@media (min-width: 769px) {
  h4, h5, h6 {
    font-weight: 100;
  }
}

h1, .h1 {
  font-size: 3em;
  padding: 0.5em 0.25em 0.75em;
}

@media (max-width: 1024px) {
  h1, .h1 {
    font-size: 2.7em;
  }
}

@media (max-width: 640px) {
  h1, .h1 {
    font-size: 2.25em;
  }
}

h2, .h2 {
  font-size: 2.6em;
  padding: 0.5em 0.25em;
}

@media (max-width: 1024px) {
  h2, .h2 {
    font-size: 2.34em;
  }
}

@media (max-width: 640px) {
  h2, .h2 {
    font-size: 1.95em;
  }
}

h3, .h3 {
  font-size: 2.2em;
  padding: 0.5em 0.25em;
}

@media (max-width: 1024px) {
  h3, .h3 {
    font-size: 1.98em;
  }
}

@media (max-width: 640px) {
  h3, .h3 {
    font-size: 1.65em;
  }
}

h4, .h4 {
  font-size: 1.8em;
  padding: 0.5em 0.25em;
}

@media (max-width: 1024px) {
  h4, .h4 {
    font-size: 1.62em;
  }
}

@media (max-width: 640px) {
  h4, .h4 {
    font-size: 1.35em;
  }
}

@media (max-width: 480px) {
  h4, .h4 {
    font-size: 1.26em;
  }
}

h5, .h5 {
  font-size: 1.2em;
  padding: 0.25em;
}

@media (max-width: 1024px) {
  h5, .h5 {
    font-size: 1.08em;
  }
}

h6, .h6 {
  font-size: 1em;
  padding: 0.125em;
}

hr {
  border: 0;
  height: 0.075em;
  background: #fff;
}

.button {
  padding: 0.2em 0.75em 0.25em;
  border: none;
  white-space: nowrap;
  font-size: 16px;
}

.button.round {
  border-radius: 0.375em;
}

.button.success {
  background: #549500;
}

.button.success:hover {
  background: #294900;
}

.button.danger {
  background: #d34836;
}

.button.danger:hover {
  background: #9b3022;
}

.button.orange {
  background: #e2610a;
}

.button.orange:hover {
  background: #f78b42;
}

@media (max-width: 640px) {
  .button h1, .button h2, .button h3, .button h4, .button h5, .button h6 {
    padding: 0;
  }
}

form {
  width: 75%;
}

@media (max-width: 640px) {
  form {
    width: 95%;
  }
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form select,
form textarea {
  padding: 0.375em;
  border-radius: 0.225em;
  border: 0.125em #00ab3e solid;
  transition: all 0.5s;
  font-size: 18px;
}

form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus,
form select:focus,
form textarea:focus {
  outline-color: #fff;
  transition: all 0.5s;
}

form input[type='text']:disabled,
form input[type='password']:disabled,
form input[type='email']:disabled,
form select:disabled,
form textarea:disabled {
  background: #656668;
}

form label {
  font-size: 22px;
}

@media (max-width: 640px) {
  form label {
    font-size: 17.6px;
  }
}

ul.check-list li:before,
ul.check-list .li:before {
  content: '✓';
  padding-right: 0.5em;
  color: #00ab3e;
}

nav.dark-theme a {
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.grid {
  display: grid;
}

.column-gap-1 {
  grid-column-gap: 1em;
}

.row-gap-1 {
  grid-row-gap: 1em;
}

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.space-start {
  justify-content: start;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-center {
  align-self: center;
}

/* --- Sticky Footer Layout--- */
html.sticky-footer {
  height: 100%;
}

html.sticky-footer body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

section.sticky-footer,
div.sticky-footer {
  display: flex;
  flex: 1 auto;
}

/* --- Sticky Footer Layout Ends --- */
.centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-top {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.cursive {
  font-family: cursive;
}

.c-black {
  color: #000;
}

.c-white {
  color: #fff;
}

.c-success {
  color: #00ab3e;
}

.c-green {
  color: #549500;
}

.c-red {
  color: #d34836;
}

.c-orange {
  color: #e2610a;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.skinny {
  font-weight: 100;
}

.cursive {
  font-family: cursive;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-75 {
  height: 75%;
}

.w-75 {
  width: 75%;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.mh-100 {
  max-height: 100%;
}

.mw-100 {
  max-width: 100%;
}

.p-025 {
  padding: 0.25em;
}

.px-025 {
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.py-025 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.p-05 {
  padding: 0.5em;
}

.px-05 {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.py-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-1 {
  padding: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.p-2 {
  padding: 2em;
}

.pt-2 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pr-2 {
  padding-right: 2em;
}

.pl-2 {
  padding-left: 2em;
}

.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-1 {
  margin: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-2 {
  margin: 2em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 1023px) {
  .m-md-auto {
    margin: auto;
  }
  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  .m-md-1 {
    margin: 1em;
  }
  .mt-md-1 {
    margin-top: 1em;
  }
  .mb-md-1 {
    margin-bottom: 1em;
  }
  .mr-md-1 {
    margin-right: 1em;
  }
  .ml-md-1 {
    margin-left: 1em;
  }
  .mx-md-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-md-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .m-md-2 {
    margin: 2em;
  }
  .mt-md-2 {
    margin-top: 2em;
  }
  .mb-md-2 {
    margin-bottom: 2em;
  }
  .mr-md-2 {
    margin-right: 2em;
  }
  .ml-md-2 {
    margin-left: 2em;
  }
  .mx-md-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-md-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .m-md-3 {
    margin: 3em;
  }
  .mt-md-3 {
    margin-top: 3em;
  }
  .mb-md-3 {
    margin-bottom: 3em;
  }
  .mr-md-3 {
    margin-right: 3em;
  }
  .ml-md-3 {
    margin-left: 3em;
  }
}

.hidden {
  display: none;
}

.round-025 {
  border-radius: .25em;
}

.round-1 {
  border-radius: 1em;
}

body.dark-theme {
  background: #1a1919;
  color: #fff;
}

body.light-theme {
  background: #fff;
  color: #000;
}

.highlight {
  color: #e2610a;
}

html {
  font-size: 16px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

p {
  font-size: 20px;
}

@media (max-width: 1024px) {
  p {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

.portfolio-grid {
  grid-template-columns: auto auto auto;
}

@media (max-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: auto;
  }
}

.case-study {
  display: grid;
  transform: scale(1);
  transition: 0.5s;
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.25em;
}

.case-study::after {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.25em;
  content: '';
}

.case-study .case-study-title {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  color: #b48505;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  z-index: 100;
}

@media (max-width: 1024px) {
  .case-study .case-study-title {
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    color: #b48505;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 0;
    z-index: 100;
    margin-top: -1.5em;
  }
}

@media (max-width: 640px) {
  .case-study .case-study-title {
    font-size: 1.5em;
  }
}

.case-study:hover {
  transition: 0.5s;
  transform: scale(1.0125);
}

.case-study:hover::after {
  opacity: 1;
}

.case-study:hover .case-study-title {
  opacity: 1;
}

.check-list {
  font-size: 1.25em;
}

.check-list li {
  margin-bottom: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  font-family: 'Comfortaa', cursive;
  background: #252322;
  transition: all 0.75s;
  position: relative;
}

@media (max-width: 640px) {
  header {
    padding: 0.5em 1em;
  }
}

header.open {
  margin-top: 3.5em;
}

header a {
  padding-right: 1em;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

header a:hover {
  transform: scale(1.125);
  transition: 0.5s;
}

nav {
  display: flex;
}

@media (max-width: 640px) {
  nav {
    position: absolute;
    transition: all 0.75s;
    width: 100%;
    justify-content: center;
    left: 0;
    top: -3em;
  }
}

.nav-trigger {
  display: none;
  max-width: 2em;
  cursor: pointer;
}

.nav-trigger img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.nav-trigger img.close {
  transform: rotate(180deg);
  transition: 0.5s;
}

@media (max-width: 640px) {
  .nav-trigger {
    display: flex;
  }
}

footer {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

html {
  height: 100%;
}

body {
  background: #252322;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

@media (max-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0 0.5em;
  }
}

.desktop-svg {
  margin: 2em 0;
  max-width: 18em;
}

.resume {
  margin: 4em 0.5em 2em 0.5em;
  max-width: 1024px;
}

.headshot {
  max-width: 10em;
  border-radius: 50%;
}

.highlight {
  color: #e2610a;
}
