  <!-- desktop nav -->
<header class="">
  <div class="nav-trigger" onclick="navToggle()">
    <img class="trigger-open" src="{{site.baseurl}}/images/nav-open.svg" />
  </div>
  <nav>
    <a href="{{site.baseurl}}/" class="button-round"><h5>Home</h5></a>
    <a href="{{site.baseurl}}/portfolio" class="button-round"><h5>Portfolio</h5></a>
    <a href="{{site.baseurl}}/about" class="button-round"><h5>About Us</h5></a>
  </nav>
  <a href="#" class="button-round success round"><h5>Get Started</h5></a>
</header>