// Utilities

// Display Utilities

  // Grid
  .grid {
    display: grid;
  }
  .column-gap-1 {
    grid-column-gap: 1em;
  }
  .row-gap-1 {
    grid-row-gap: 1em;
  }

  // Flex
  .flex {
    display: flex;
  
    &.wrap {
      flex-wrap: wrap;
    }
  }
  .column {
    flex-direction: column;
  }
  .space-start {
    justify-content: start;
  }
  .space-around {
    justify-content: space-around;
  }
  .justify-center {
    justify-content: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .align-items-center {
    align-items: center;
  }
  .align-items-baseline {
    align-items: baseline;
  }
  .align-self-center {
    align-self: center;
  }

// Text / Font Utilities
  
  // Text positioning, transform, etc...
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .capitalize {
    text-transform: capitalize;
  }

  // Text variations
  .cursive {
    font-family: cursive;
  }

  // Text Colors
  .c-black {
    color: $black;
  }
  .c-white {
    color: $white;
  }
  .c-green {
    color: $green;
  }
  .c-success,
  .c-green-juicy {
    color: $green-juicy;
  }
  .c-red {
    color: $red;
  }
  .c-orange {
    color: $orange;
  }

  // Font Weight 
  .bold {
    font-weight: 700;
  }
  
// Padding and margin utilities
  
  // Padding
  .p-25 {
    padding: 0.25em;
  }
  .p-1 {
    padding: 1em;
  }
  .pt-1 {
    padding-top: 1em;
  }
  .pb-1 {
    padding-bottom: 1em;
  }
  .pr-1 {
    padding-right: 1em;
  }
  .pl-1 {
    padding-left: 1em;
  }
  .px-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  // Margin
  .m-auto {
    margin: auto;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  .m-1 {
    margin: 1em;
  }
  .mt-1 {
    margin-top: 1em;
  }
  .mb-1 {
    margin-bottom: 1em;
  }
  .mr-1 {
    margin-right: 1em;
  }
  .ml-1 {
    margin-left: 1em;
  }
  .mx-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .m-2 {
    margin: 2em;
  }
  .mt-2 {
    margin-top: 2em;
  }
  .mb-2 {
    margin-bottom: 2em;
  }
  .mr-2 {
    margin-right: 2em;
  }
  .ml-2 {
    margin-left: 2em;
  }
  .mx-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .my-2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
// Rounding corners 
  
  // Slightly round up corners
  .round-025 {
    border-radius: .25em;
  }
  .round-1 {
    border-radius: 1em;
  }
  
  // Height / Width Utilities
  .h-100 {
    height: 100%;
  }
  
  .w-100 {
    width: 100%;
  }

  .h-75 {
    height: 75%;
  }
  
  .w-75 {
    width: 75%;
  }

  .h-50 {
    height: 50%;
  }
  
  .w-50 {
    width: 50%;
  }

  .mh-100 {
    max-height: 100%;
  }
  
  .mw-100 {
    max-width: 100%;
  }

  
  
// Visibility utilities
  .hidden {
    display: none;
  }