$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$paragraph-font-size-xl: 22px;
$paragraph-font-size-lg: 20px;
$paragraph-font-size-md: 18px;
$paragraph-font-size-sm: 16px;
$paragraph-font-size-xs: 14px;

$h1: 3em;
$h2: 2.6em;
$h3: 2.2em;
$h4: 1.8em;
$h5: 1.2em;

// Colors
$black: #000;
$black-100: #121111;
$black-200: #1a1919;
$red: #d34836;
$maroon: #291b1b;
$grey: #656668;
$green: #00ab3e;
$green-juicy: #549500;
$success: #549500;
$orange: #d2691e;
$white: #fff;