@import "reset";
@import "base";
@import "button";
@import "header";
@import "footer";
@import "case-study";

html {
  height: 100%;
}

body {
  background: #252322;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// content area
.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }
}

.desktop-svg {
  margin: 2em 0;
  max-width: 18em;
}

.resume {
  margin: 4em 0 2em;
  max-width: 1024px;

  ul {
    text-align: left;
    font-size: 1.25em;

    li {
      padding: 0.25em 0;
    }
  }
}

.headshot {
  max-width: 10em;
  border-radius: 50%;
}

.highlight {
  color: #e2610a;
}