@import "vendor/vortex-scss/styles.scss";
@import "base";
@import "components/case-study";
@import "components/check-list";
@import "partials/header";
@import "partials/footer";

html {
  height: 100%;
}

body {
  background: #252322;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// content area
.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 480px) {
    padding: 0 0.5em;
  }
}

.desktop-svg {
  margin: 2em 0;
  max-width: 18em;
}

.resume {
  margin: 4em 0.5em 2em 0.5em;
  max-width: 1024px;
}

.headshot {
  max-width: 10em;
  border-radius: 50%;
}

.highlight {
  color: #e2610a;
}